<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure PDF Viewer</title>
    <link rel="stylesheet" href="digital_read/static/css_files/style.css">
</head>

<body oncontextmenu="return false;">
    <div id="viewer-container">
        <canvas id="pdf-canvas"></canvas>
        <div id="watermark">DIGITAL READ COPYRIGHTED </div>
    </div>
    <!-- PDF.js library -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.16.105/pdf.min.js"></script>
    <script src="digital_read/static/javascript_files/script.js"></script>
</body>

</html>